.container{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0px;
    font-family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca);

}
button{
    color: hsl(0, 0, 95);
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font: lightgrey;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
button:hover{
    padding: hsl(0, 0, 95);
    border:  hsl(0, 0, 95);
    width: 100%;
    border-radius: 20px;
    background: transparent;}

.left{order:2; background-color: orange;}
.right{order:4; background-color:cyan;}
.main{order:3; background-color:darkcyan;}
    